* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  width: 80%;
  margin: 30px auto 20px;
  background-color: hotpink;
}

.main-top {
  height: 440px;
  width: 80%;
  margin: 20px auto;
  background-color: gold;
}

.main-bottom {
  width: 80%;
  height: 440px;
  margin: 20px auto;
  background-color: #0e49b5;
}

.section-title {
  height: 80px;
  background-color: lightblue;
}

.row::after{
  clear: both;
  content: "";
  display: block;
}

.col-left {
  /* height: 400px; */
  width: 20%;
  float: left;
  margin: 20px 1% 20px 0;
  padding: 5px;
  background-color: lightblue;
  display: inline-block;
}

.col-right {
  /* height: 400px; */
  width: 20%;
  float: left;
  margin: 20px 0 20px 1%;
  padding: 5px;
  background-color: lightblue;
  display: inline-block;
}

.col-center {
  /* height: 400px; */
  width: 56%;
  float: left;
  margin: 20px 1% 20px;
  padding: 5px;
  background-color: lightblue;
  display: inline-block;
}

footer {
  margin: 0 auto;
  width: 80%;
  height: 45px;
  background-color: #6930c3;
}
